*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/../../DroidCafe/app/src/androidTest/java/com/m6code/droidcafe/ExampleInstrumentedTest.java
/app/src/androidTest/java/com/m6code/intentpractise/ExampleInstrumentedTest.java
/../../DroidCafe/app/src/test/java/com/m6code/droidcafe/ExampleUnitTest.java
/app/src/test/java/com/m6code/intentpractise/ExampleUnitTest.java
/../../SimpleCalc/app/src/test/java/com/example/android/SimpleCalc/CalculatorTest.java
